In [1]:
# installing required packages for the current runtime

!pip install wget
!pip install jsonlines

Requirement already satisfied: wget in /usr/local/lib/python3.6/dist-packages (3.2)
Requirement already satisfied: jsonlines in /usr/local/lib/python3.6/dist-packages (1.2.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from jsonlines) (1.11.0)

In [0]:
# importing required packages

import tweepy
import jsonlines
import json
import csv
import wget
import pandas as pd

In [0]:
# user keys and tokens

consumer_key = ''
consumer_secret_key = ''
access_token = ''
access_token_secret = ''

In [0]:
def process_media(entities):
  """accepts a tweet entities object,
  returns the number of images in the tweet"""
  
  ret = 0
  
  if entities.get('media'):
    ret += len(entities.get('media'))
  
  return ret if ret else None

In [0]:
def get_all_tweets(user_handle):
  """accepts a user screen_name,
  returns a list of tweepy status objects"""
  
  # user authorization
  auth = tweepy.OAuthHandler(consumer_key, consumer_secret_key)
  auth.set_access_token(access_token, access_token_secret)
  api = tweepy.API(auth)
  
  # loading tweets in batches of size of 200
  all_tweets = []
  new_tweets = api.user_timeline(screen_name = user_handle, count = 200)
  all_tweets.extend(new_tweets)
  oldest_tweet = all_tweets[-1].id - 1
  while len(new_tweets) > 0:
    new_tweets = api.user_timeline(screen_name = user_handle, count = 200, max_id = oldest_tweet)
    all_tweets.extend(new_tweets)
    oldest_tweet = all_tweets[-1].id - 1
    
  return all_tweets

In [6]:
if __name__ == '__main__':
  
  # fetching all the tweets of a given user
  all_tweets = get_all_tweets(input("Enter handle : "))
  
  # writing all the tweets to jsonlines file
  writer = jsonlines.open('tweets.jsonl', mode = 'w')
  for tweet in all_tweets:
    writer.write(tweet._json)

Enter handle : midasIIITD

In [0]:
# extracting required information to a list of lists

# required columns
columns = ['id', 'created_at', 'text', 'retweet_count', 'favorite_count', 'entities']

data = []

with jsonlines.open('tweets.jsonl') as reader:
   for obj in reader:
     selected_row = []
     for item in columns:
       selected_row.append(obj[item])
     data.append(selected_row)

In [8]:
# converting the list into a Dataframe with required columns

table = pd.DataFrame(data, columns = columns)
table.head(10)

,id,created_at,text,retweet_count,favorite_count,entities
0,1109888617302753280,Sun Mar 24 18:44:01 +0000 2019,The last date for submitting a solution for th...,3,7,"{'hashtags': [], 'symbols': [], 'user_mentions..."
1,1109884092101754880,Sun Mar 24 18:26:02 +0000 2019,RT @IIITDelhi: @IIITDelhi invites application ...,4,0,"{'hashtags': [], 'symbols': [], 'user_mentions..."
2,1109780512330022918,Sun Mar 24 11:34:27 +0000 2019,One more week is left to submit the workshop p...,0,4,"{'hashtags': [], 'symbols': [], 'user_mentions..."
3,1109702288136781826,Sun Mar 24 06:23:37 +0000 2019,RT @IEEEBigMM19: We are honored to have Dr. Ch...,5,0,"{'hashtags': [], 'symbols': [], 'user_mentions..."
4,1109702192439582722,Sun Mar 24 06:23:14 +0000 2019,RT @IEEEBigMM19: Distinguished researchers Dr....,3,0,"{'hashtags': [], 'symbols': [], 'user_mentions..."
5,1108281874164658182,Wed Mar 20 08:19:24 +0000 2019,@IEEEBigMM19 is also available on Facebook now...,1,1,"{'hashtags': [], 'symbols': [], 'user_mentions..."
6,1108196492139999233,Wed Mar 20 02:40:07 +0000 2019,RT @IEEEBigMM19: BigMM 2019 : IEEE BigMM 2019 ...,5,0,"{'hashtags': [], 'symbols': [], 'user_mentions..."
7,1107468609914208256,Mon Mar 18 02:27:47 +0000 2019,BigMM 2019 : IEEE BigMM 2019 – Call for Worksh...,3,6,"{'hashtags': [], 'symbols': [], 'user_mentions..."
8,1107285980082569218,Sun Mar 17 14:22:04 +0000 2019,"Congratulations @midasIIITD team, Rohan, Prady...",4,15,"{'hashtags': [], 'symbols': [], 'user_mentions..."
9,1106919781616091136,Sat Mar 16 14:06:56 +0000 2019,We have emailed the task details to all shortl...,0,7,"{'hashtags': [], 'symbols': [], 'user_mentions..."

In [9]:
# extracting images from entities objects

table['image_count'] = table['entities'].apply(lambda x : process_media(x))
table.head(10)

,id,created_at,text,retweet_count,favorite_count,entities,image_count
0,1109888617302753280,Sun Mar 24 18:44:01 +0000 2019,The last date for submitting a solution for th...,3,7,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN
1,1109884092101754880,Sun Mar 24 18:26:02 +0000 2019,RT @IIITDelhi: @IIITDelhi invites application ...,4,0,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN
2,1109780512330022918,Sun Mar 24 11:34:27 +0000 2019,One more week is left to submit the workshop p...,0,4,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN
3,1109702288136781826,Sun Mar 24 06:23:37 +0000 2019,RT @IEEEBigMM19: We are honored to have Dr. Ch...,5,0,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN
4,1109702192439582722,Sun Mar 24 06:23:14 +0000 2019,RT @IEEEBigMM19: Distinguished researchers Dr....,3,0,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN
5,1108281874164658182,Wed Mar 20 08:19:24 +0000 2019,@IEEEBigMM19 is also available on Facebook now...,1,1,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN
6,1108196492139999233,Wed Mar 20 02:40:07 +0000 2019,RT @IEEEBigMM19: BigMM 2019 : IEEE BigMM 2019 ...,5,0,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN
7,1107468609914208256,Mon Mar 18 02:27:47 +0000 2019,BigMM 2019 : IEEE BigMM 2019 – Call for Worksh...,3,6,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN
8,1107285980082569218,Sun Mar 17 14:22:04 +0000 2019,"Congratulations @midasIIITD team, Rohan, Prady...",4,15,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN
9,1106919781616091136,Sat Mar 16 14:06:56 +0000 2019,We have emailed the task details to all shortl...,0,7,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN

In [10]:
# removing the useless columns and printing the table

table.drop(['entities'], axis = 1, inplace = True)
table.head(table.shape[0])

,id,created_at,text,retweet_count,favorite_count,image_count
0,1109888617302753280,Sun Mar 24 18:44:01 +0000 2019,The last date for submitting a solution for th...,3,7,NaN
1,1109884092101754880,Sun Mar 24 18:26:02 +0000 2019,RT @IIITDelhi: @IIITDelhi invites application ...,4,0,NaN
2,1109780512330022918,Sun Mar 24 11:34:27 +0000 2019,One more week is left to submit the workshop p...,0,4,NaN
3,1109702288136781826,Sun Mar 24 06:23:37 +0000 2019,RT @IEEEBigMM19: We are honored to have Dr. Ch...,5,0,NaN
4,1109702192439582722,Sun Mar 24 06:23:14 +0000 2019,RT @IEEEBigMM19: Distinguished researchers Dr....,3,0,NaN
5,1108281874164658182,Wed Mar 20 08:19:24 +0000 2019,@IEEEBigMM19 is also available on Facebook now...,1,1,NaN
6,1108196492139999233,Wed Mar 20 02:40:07 +0000 2019,RT @IEEEBigMM19: BigMM 2019 : IEEE BigMM 2019 ...,5,0,NaN
7,1107468609914208256,Mon Mar 18 02:27:47 +0000 2019,BigMM 2019 : IEEE BigMM 2019 – Call for Worksh...,3,6,NaN
8,1107285980082569218,Sun Mar 17 14:22:04 +0000 2019,"Congratulations @midasIIITD team, Rohan, Prady...",4,15,NaN
9,1106919781616091136,Sat Mar 16 14:06:56 +0000 2019,We have emailed the task details to all shortl...,0,7,NaN
10,1106847696327827456,Sat Mar 16 09:20:29 +0000 2019,IEEE BigMM 2019 - Call for Workshop Proposals....,1,1,NaN
11,1106846308021596161,Sat Mar 16 09:14:58 +0000 2019,"Congratulations! Arijit, Ramit, @debanjanbhucs...",2,7,NaN
12,1106785474146791424,Sat Mar 16 05:13:14 +0000 2019,We will be releasing a very interesting task t...,2,7,NaN
13,1105878620499644416,Wed Mar 13 17:09:44 +0000 2019,RT @hcdiiitd: Last day to register for #Portfo...,2,0,NaN
14,1105682747916324865,Wed Mar 13 04:11:24 +0000 2019,@ACMMM19 @sigmm @TheOfficialACM @acmmmsys @ACM...,0,1,NaN
15,1105681404845670401,Wed Mar 13 04:06:04 +0000 2019,RT @ACMMM19: The paper deadline is approaching...,13,0,NaN
16,1105524793024147458,Tue Mar 12 17:43:44 +0000 2019,RT @kaggle: Bookmark this amazing library of i...,68,0,NaN
17,1105478029147553792,Tue Mar 12 14:37:55 +0000 2019,Awesome members of our @midasIIITD team who ar...,4,16,NaN
18,1105120820081381378,Mon Mar 11 14:58:30 +0000 2019,"@saanidhi @ACMMM19 Before Friday, 15th March.",0,0,NaN
19,1105076580253093894,Mon Mar 11 12:02:42 +0000 2019,We are glad to inform that Adobe is launching ...,0,4,NaN
20,1105074548792348672,Mon Mar 11 11:54:38 +0000 2019,We will email tasks to all shortlisted candida...,0,3,NaN
21,1104990888210714629,Mon Mar 11 06:22:12 +0000 2019,@ACMMM19 @ACM_MM2018 @acmmm17 @sigmm @ACM Less...,1,1,NaN
22,1104989667034836992,Mon Mar 11 06:17:20 +0000 2019,RT @kdnuggets: Face Recognition using One-Shot...,64,0,NaN
23,1104009401428406278,Fri Mar 08 13:22:07 +0000 2019,@AvinashSwamina2 @IIITDelhi No. They will be g...,0,1,NaN
24,1104007755214413824,Fri Mar 08 13:15:34 +0000 2019,We are in the process of finalizing the shortl...,4,8,NaN
25,1103290177626296324,Wed Mar 06 13:44:11 +0000 2019,@ylecun @NilayShri @the_dhumketu @debanjanbhuc...,0,3,NaN
26,1103252005680631808,Wed Mar 06 11:12:30 +0000 2019,RT @kdnuggets: Python Data Science for Beginne...,22,0,1.0
27,1102291568763887616,Sun Mar 03 19:36:04 +0000 2019,RT @stanfordnlp: Useful feature of our Python ...,35,0,NaN
28,1102254758587297792,Sun Mar 03 17:09:48 +0000 2019,"@NilayShri @NilayShri, Certain thing! The next...",0,1,NaN
29,1102231526123593729,Sun Mar 03 15:37:28 +0000 2019,"At @midasIIITD, we not only work hard but also...",1,9,NaN
...,...,...,...,...,...,...
269,1028201519798276097,Sat Aug 11 08:48:40 +0000 2018,@soujanyaporia @nlp Congrats Dr. @soujanyaporia,0,1,NaN
270,1027499198315409408,Thu Aug 09 10:17:53 +0000 2018,RT @kdnuggets: Ultimate Guide to Getting Start...,111,0,1.0
271,1027434289011421184,Thu Aug 09 05:59:57 +0000 2018,RT @TensorFlow: TensorFlow 1.10.0 has been rel...,265,0,NaN
272,1027155192326709249,Wed Aug 08 11:30:56 +0000 2018,@midasIIITD is looking for motivated IIITD MTe...,1,2,NaN
273,1027070352491302912,Wed Aug 08 05:53:48 +0000 2018,@IIITDelhi @ponguru @RatnRajiv The results of ...,1,3,1.0
274,1027068380962910208,Wed Aug 08 05:45:58 +0000 2018,RT @IIITDelhi: @midasIIITD has secured rank 1 ...,1,0,NaN
275,1026728788762099712,Tue Aug 07 07:16:33 +0000 2018,RT @kdnuggets: Comparison of Top 6 Python NLP ...,40,0,1.0
276,1026650435296190464,Tue Aug 07 02:05:12 +0000 2018,Check more details of the 20th IEEE Internatio...,1,1,NaN
277,1026648829947310082,Tue Aug 07 01:58:49 +0000 2018,MR2AMC@ISM 2018 will be organized by @RatnRaji...,1,1,NaN
278,1026646745915117568,Tue Aug 07 01:50:33 +0000 2018,"Our workshop proposal named, ""MR2AMC: Multimod...",1,1,NaN
279,1026525407548297216,Mon Aug 06 17:48:23 +0000 2018,@NUSComputing Congratulations Abdelhak and Pro...,0,0,NaN
280,1026525053456797696,Mon Aug 06 17:46:59 +0000 2018,RT @goodfellow_ian: One of the most anticipate...,103,0,1.0
281,1026348845062483970,Mon Aug 06 06:06:47 +0000 2018,@the_dhumketu Great to have you in @midasIIITD,0,0,NaN
282,1025259106104307713,Fri Aug 03 05:56:33 +0000 2018,Congratulation @soujanyaporia for being appoin...,1,6,NaN
283,1024622587110772736,Wed Aug 01 11:47:15 +0000 2018,@IIITDelhi @the_dhumketu Thanks team @midasIII...,1,5,1.0
284,1024615754971328514,Wed Aug 01 11:20:07 +0000 2018,RT @IIITDelhi: Congratulations @midasIIITD int...,4,0,NaN
285,1024521803308261377,Wed Aug 01 05:06:47 +0000 2018,RT @learning_pt: Profile of the 5 Indian under...,4,0,NaN
286,1024266393682759685,Tue Jul 31 12:11:52 +0000 2018,Have a look at the list of accepted papers in ...,0,1,NaN
287,1024114029097246725,Tue Jul 31 02:06:26 +0000 2018,RT @goodfellow_ian: https://t.co/hYiWI7ntyk Te...,264,0,NaN
288,1023833283321257984,Mon Jul 30 07:30:51 +0000 2018,RT @IIITDelhi: Congratulations Dr. @RatnRajiv ...,2,0,NaN
289,1023162950926790658,Sat Jul 28 11:07:11 +0000 2018,"RT @ylecun: Jitendra Malik, who directs FAIR-M...",57,0,NaN
290,1023089206820655104,Sat Jul 28 06:14:09 +0000 2018,RT @kdnuggets: .@Bloomberg launches free cours...,105,0,NaN
291,1023089118719266816,Sat Jul 28 06:13:48 +0000 2018,RT @TechAtBloomberg: Missed #PyLondinium18? Wa...,7,0,NaN
292,1023057546066710528,Sat Jul 28 04:08:21 +0000 2018,RT @IIITDelhi: We are delighted to announce th...,6,0,NaN
293,1022735016822857729,Fri Jul 27 06:46:44 +0000 2018,Get ready for the annual technical fest of @II...,2,3,NaN
294,1022694950658396160,Fri Jul 27 04:07:31 +0000 2018,Congratulations Dr. @RatnRajiv and team @midas...,2,8,NaN
295,1021987053880455170,Wed Jul 25 05:14:35 +0000 2018,Congratulations MIDAS @midasIIITD intern Prakh...,1,5,NaN
296,1021704893537574912,Tue Jul 24 10:33:23 +0000 2018,MIDAS@IIITD foundation. https://t.co/LKuzyBHzjm,1,2,NaN
297,1021699654805729280,Tue Jul 24 10:12:34 +0000 2018,It feels great to be the part of @IIITDelhi. h...,1,2,NaN
298,1021693076337618944,Tue Jul 24 09:46:26 +0000 2018,"Thank you, @toonzratn for designing the logo o...",1,4,1.0